@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Slider Styling */
  input[type=range] {
    -webkit-appearance: none; 
    background: transparent; 
    touch-action: none;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 48px;
    width: 48px;
    pointer-events: auto; 
    cursor: grab;
  }
  input[type=range]:focus {
    outline: none;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}